#my-dev-env-banner {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
  color: white;
  font-size: larger;
  padding: 10px;
}

.env-staging {
  background-color: blue;
}

.env-dev {
  background-color: green;
}

.env-production {
  background-color: red;
}